body{
  background-color: rgb(34, 29, 29);
  color: rgb(8, 160, 160);
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}